<div class="main-content">
    <div class="p-grid vertical-container p-mt-5">
        <div class="p-col-5 p-as-start">
            <p-card>
                <p-header>
                    <div class="header-card">
                        <h2 class="p-pt-5 p-pl-5">Modify Payment</h2>
                    </div>
                </p-header>
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="payCode" class="p-col-fixed" style="width:150px">Payment Code</label>
                        <input id="payCode" type="text" pInputText placeholder="Input Payment Code"
                            style="width: 300px;">
                    </div>
                    <div class="p-field">
                        <label class="p-col-fixed" style="width:150px" for="payName">Payment Name</label>
                        <input id="payName" type="text" pInputText style="width: 300px;"
                            placeholder="Input Payment Name">
                    </div>
                    <div class="btn p-field p-mt-5">
                        <button class="back" routerLink='/admin/list-payments' pButton type="button" label="Back"
                            style="width:150px"></button>
                        <button class="save" pButton type="button" label="Save" style="width:150px"></button>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="p-col p-as-center">

        </div>
        <div class="p-col p-as-end">

        </div>
    </div>