<div class="main-content">
    <div class="p-col-5 p-as-start">
        <p-card>
            <p-header>
                <div class="header-card">
                    <h2 class="p-pt-5 p-pl-5">Modify Customer</h2>
                </div>
            </p-header>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="custCode" class="p-col-fixed" style="width:150px">Customer Code</label>
                    <input id="custCode" type="text" pInputText placeholder="Input Customer Code" style="width: 300px;">
                </div>
                <div class="p-field">
                    <label class="p-col-fixed" style="width:150px" for="custName">Customer Name</label>
                    <input id="custName" type="text" pInputText style="width: 300px;" placeholder="Input Customer Name">
                </div>
                <div class="p-field">
                    <label class="p-col-fixed" style="width:150px" for="custPhone">Customer Phone</label>
                    <input id="custPhone" type="text" pInputText style="width: 300px;"
                        placeholder="Input Customer Phone">
                </div>
                <div class="p-field">
                    <label class="p-col-fixed" style="width:150px" for="custEmail">Customer Email</label>
                    <input id="custEmail" type="text" pInputText style="width: 300px;"
                        placeholder="Input Customer Email">
                </div>
                <div class="p-field">
                    <label class="p-col-fixed" style="width:150px" for="custAddress">Customer Address</label>
                    <input id="custAddress" type="text" pInputText style="width: 300px;"
                        placeholder="Input Customer Alamat">
                </div>
                <div class="btn p-field p-mt-5">
                    <button class="back" routerLink='/cashier/list-customer' pButton type="button" label="Back"
                        style="width:150px"></button>
                    <button class="save" pButton type="button" label="Save" style="width:150px"></button>
                </div>
            </div>
        </p-card>
    </div>
    <div class="p-col p-as-center"></div>
    <div class="p-col p-as-end"></div>
</div>