<div class="main-content">
    <div class="p-col-5 p-as-start">
        <p-card>
            <p-header>
                <div class="header-card">
                    <h2 class="p-pt-5 p-pl-5">Modify Pickup</h2>
                </div>
            </p-header>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="pickupDate" class="p-col-fixed" style="width:150px" class="p-mr-2 p-ml-1">Pickup
                        Date</label>
                    <input id="pickupDate" type="datetime-local" pInputText placeholder="Input Pickup Date"
                        style="width: 300px;">
                </div>
                <div class="p-field p-grid p-ml-1">
                    <label for="state" class="p-mr-3">Laundry Detail Code</label>
                    <div class="drop-d">
                        <p-dropdown [options]="dtlCodeList" [(ngModel)]="selectedDtlCode" optionLabel="name"
                            placeholder="Select Laundry Detail Code" class="">
                        </p-dropdown>
                    </div>
                </div>
                <div class="btn p-field p-mt-5">
                    <button class="back" routerLink='/cashier/list-pickup' pButton type="button" label="Back"
                        style="width:150px"></button>
                    <button class="save" pButton type="button" label="Save" style="width:150px"></button>
                </div>
            </div>
        </p-card>
    </div>
    <div class="p-col p-as-center"></div>
    <div class="p-col p-as-end"></div>
</div>